# tmux source-file ~/.tmux.conf
#
# Tips: tmux versionによる分岐
#   tmux versionを ${TMUX_VERSION} へセット
#   run-shell "tmux setenv -g TMUX_VERSION $(tmux -V | cut -c 6-)"
#   if-shell -b '[ "$(echo "$TMUX_VERSION < 1.9" | bc)" -eq 1 ]' \
#     'set-option -g pane-border-fg colour023 \
#     set-option -g pane-active-border-fg blue'
#     'set -ag status-style fg="colour023" \
#     set -ag pane-active-border-style fg="blue"'
#
# Tips: tmuxステータスバーでgitの情報を表示する
# https://github.com/arl/gitmux
source-file {{ powerline_conf_path }}

set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-sensible'
set -g @plugin 'tmux-plugins/tmux-yank'
set -g @plugin 'tmux-plugins/tmux-open '
set -g @plugin 'tmux-plugins/tmux-resurrect'
set -g @plugin 'tmux-plugins/tmux-pain-control'

run -b '~/.tmux/plugins/tpm/tpm'

# Common
## キーバインドをviと同じにする
set-window-option -g mode-keys vi
## ウィンドウのインデックスを1から始める
set -g base-index 1
## ペインのインデックスを1から始める
setw -g pane-base-index 1

set-option -g pane-border-status bottom
set-option -g pane-border-format "#[fg=black,bg=blue] #P #(tmux-pane-border '#{pane_current_path}')"
set -ag status-style fg="colour023"
set -ag pane-active-border-style fg="blue"
